.update {
  .update__main-text {
    h1 {
      margin: 20px 0 50px 20px;
    }
  }
  .update__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    .update-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        color: #c6091f;
        font-size: 25px;
      }
      input {
        border: 1px solid #c6091f;
        border-radius: 15px;
        margin: 20px 0;
        padding: 6px 20px;
        width: 300px;
      }
    }
    .update-image {
      display: flex;
      flex-direction: column;
      gap: 10px;
      h3 {
        color: #c6091f;
        font-size: 25px;
        margin-bottom: 10px;
      }
      img {
        width: 200px;
        border-radius: 20px;
      }
      input {
        border: 1px solid #c6091f;
        border-radius: 15px;

        padding: 6px 20px;
        width: 300px;
      }
    }
  }
  .update-btn {
    text-align: center;
    button {
      border: 2px solid #c6091f;
      background-color: #c6091f;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.2s linear;
      margin-top: 20px;
      margin-bottom: 50px;
    }
    button:hover {
      background-color: #000;
      border: 2px solid #c6091f;
      color: #c6091f;
    }
  }
}
