.admin {
  width: 1150px;
  margin-bottom: 50px;
  &__main-text {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0 20px 20px;
    img {
      width: 50px;
    }
  }
  .admin__all-products {
    .products-list {
      button {
        border: 2px solid #c6091f;
        background-color: #c6091f;
        font-size: 20px;
        font-weight: 600;
        border-radius: 5px;
        padding: 5px 10px;
        transition: 0.2s linear;
        margin-top: 20px;
      }
      button:hover {
        background-color: #000;
        border: 2px solid #c6091f;
        color: #c6091f;
      }
      h2 {
        margin: 30px 0 30px 0;
      }
    }
    .equ-img {
      img {
        width: 100px;
        height: 133px;
        border-radius: 15px;
      }
    }
    .equipment-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 30px;
      padding: 20px;
      width: 550px;
      border: 1px solid #c6091f;
      border-radius: 20px;
    }
  }
}

.user-card {
  border: 1px solid #c6091f;
  padding: 20px;
  border-radius: 20px;
  margin-top: 30px;
  .user-card__inner {
    display: flex;
    gap: 30px;
    align-items: center;
    img {
      width: 100px;
      border-radius: 10px;
    }
    span {
      font-size: 12px;
      color: rgb(133, 133, 133);
    }
  }
}

.create-equipment {
  margin: 20px 0 20px 20px;
  .create__main-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    img {
      width: 30px;
      height: 30px;
    }
    h1 {
      font-size: 24px;
    }
  }
  form {
    margin-top: 20px;
    text-align: center;
    input {
      border: 1px solid #c6091f;
      border-radius: 15px;
      margin: 20px 0;
      padding: 6px 20px;
    }
    button {
      border: 2px solid #c6091f;
      background-color: #c6091f;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      padding: 5px 10px;
      transition: 0.2s linear;
      margin-top: 20px;
    }
    button:hover {
      background-color: #000;
      border: 2px solid #c6091f;
      color: #c6091f;
    }
  }
  .category-text {
    color: grey;
    margin-bottom: 10px;
  }
  .select-category {
    border: 1px solid #c6091f;
    padding: 5px 20px;
    text-align: center;
    border-radius: 15px;
    font-weight: 600;
    transition: 0.2s linear;
    cursor: pointer;
  }
  .select-category:hover {
    background-color: #c6091f;
  }
}

.forms {
  display: flex;
  justify-content: space-around;
  .equipment__create,
  .nutrition__create {
    text-align: center;
    border: 1px solid #c6091f;
    margin: 70px 0 90px 0;
    padding: 50px;
    border-radius: 20px;
  }
}
